body {
    background-image : url(fond.jpg);
}

#Entete{
    margin : auto;
    margin-bottom:0px;
    width :500px;
    padding: 5px;
    color: black;  
    background-color:white;
    border : 3px solid black;
    font-size:24px;
    font-family: Comic sans ms;
    text-align:center;
	box-shadow: 20px 20px 40px black;
	border-radius : 10px;
}

#Auteurs {
    margin : auto;
	text-align:center;
	font-size:16px;
    font-family: Comic sans ms;
	color: white;
}

#Canvas {
	position : absolute;
	border : 3px solid black;
	left: 350;
	top : 470;
    height : 370px;
	width :  500px;
	background-color: white;
	box-shadow: 20px 20px 40px black;
	border-radius : 10px;
}

#EleveJean {
	position : absolute;
	left : 10;
	width : 100;
}

#EleveSylvie {
	position : absolute;
	left : 150;
	width : 100;
}

#EleveYan {
	position : absolute;
	left : 300;
	width : 100;
}

#UnNombre {
	position : absolute;
	left : 250;
	top : 300;
	width : 250;
}

#CentNombres {
	position : absolute;
	left : 550;
	top : 300;
	width : 250;
}

#Image {
	position : absolute;
	border : 3px solid black;
	left: 10;
	top : 300;
    height : 150px;
	width : 150px;
	box-shadow: 20px 20px 40px black;
	border-radius : 10px;
}

#Simulation {
	position : absolute;
	left: 10;
	top : 500;	
}

#Action {
	position : absolute;
	top : 370 ;
	left : 250 ;
	font-size:18px;
    font-family: Comic sans ms;
	color : black;
}
#Dix  {
	position : absolute;
	top : 470 ;
	left : 0 ;
}

#LabDix  {
	position : absolute;
	top : 470 ;
	left : 20 ;
}

#Vingt  {
	position : absolute;
	top : 470 ;
	left : 150 ;
}

#LabVingt {
	position : absolute;
	top : 470 ;
	left : 170 ;
}



.Sujet {
    color: black;  
    font-size:18px;
    font-family: Comic sans ms;
    text-align:left;
}

.Bouton {
	font-size:18px;
    font-family: Comic sans ms;
    text-align:center;
	cursor : pointer;
	box-shadow: 10px 10px 25px #555;
	margin : auto;
	border-radius : 20px;	
}



.Texte {
	font-size:16px;
    font-family: Comic sans ms;
	text-align:left
	weight : bold;
	text-shadow : 0px 0px 30px yellow;
}


.Tableau {
	font-size:16px;
    font-family: Comic sans ms;
	Text-align : center;
    border : 2px solid black;
    background-color: white;
    width : 100px;
		box-shadow: 10px 10px 25px #555;
}

.TableauSpecial {
font-size:16px;
    font-family: Comic sans ms;
	Text-align : center;
    border : 2px solid black;
    background-color: rgb(197,197,255);
    width : 100px;
	box-shadow: 10px 10px 25px #555;
}


